<div class="burgermenu">
    <span class="label">#{{id}}</span>
    <span class="label">{{burger_name}}</span>
    <button data-id="{{id}}" data-newdevour="{{devour}}" class="eatbutton">Eat The Burger</button>
</div>